/************** MAIN ELEMENTS ***************/
html, body{
	height: 100%;
	background: #F2F2F2;

}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer{
	width: 100%;
	min-height: 4em;
	background: #207cca;
	padding: 40px 0px 40px;
}


/*********** RESPONSIVE **********/


@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	

}

@media (max-width: 767px) {
	

}

@media (max-width: 568px) {
	
}
